[submodule "puzzlesolver-api-spring-boot"]
	path = puzzlesolver-api-spring-boot
	url = git@bitbucket.org:brandon-foster/puzzlesolver-api-spring-boot.git
[submodule "puzzlesolver-frontend"]
	path = puzzlesolver-frontend
	url = git@bitbucket.org:brandon-foster/puzzlesolver-frontend.git
[submodule "resume_react_server"]
	path = resume_react_server
	url = git@bitbucket.org:brandon-foster/resume_react_server.git
[submodule "note_app"]
	path = note_app
	url = git@bitbucket.org:brandon-foster/note_app.git
[submodule "keyboard_ui"]
	path = keyboard_ui
	url = git@bitbucket.org:brandon-foster/keyboard_ui.git
[submodule "url_app"]
	path = url_app
	url = git@bitbucket.org:brandon-foster/url_app.git
