[submodule "puzzlesolver-api-spring-boot"]
	path = puzzlesolver-api-spring-boot
	url = git@bitbucket.org:brandon-foster/puzzlesolver-api-spring-boot.git
[submodule "puzzlesolver_frontend_image/puzzlesolver-frontend"]
	path = puzzlesolver_frontend_image/puzzlesolver-frontend
	url = git@bitbucket.org:brandon-foster/puzzlesolver-frontend.git
