input {
    display: block;
    width: 100%;
}

.hidden {
    display: none;
}

body {
    /* background-color: aliceblue; */
}

#purchasesList li {
    margin-top: 5px;
    list-style-type: none;
}

#purchasesList span {
    padding: 0 5px 0;
}

#purchasesList .peId,
#purchasesList .details {
    padding: 2px 5px;
    min-width: 40px;
    text-align: center;
    display: inline-block;
    color: white;
}

#purchasesList .peId {
    background-color: gray;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#purchasesList .details {
    background-color: pink;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}